include mixins

#accordion
    +accorde('Administrative Layers', 'adm', ADM)
    +accorde('Land Cover Layers', 'lulc', LULC)
    //- +accorde('Custom Layers', 'custom',custom)
        
    .group
        h3='Custom Layers'
        #custom
                
            include modal-wms
            
            .wms_custom            
                ul(class="list-group")
            
            include modal-photo
            
            .photo
