include mixins

#accordion
    +accorde('Administrative Layers', 'adm', ADM)
    +accorde('Land Cover Layers', 'lulc', LULC)
    //- +accorde('Custom Layers', 'custom',custom)
        
    .group
        h3='Custom Layers'
        #custom
            .input-group.input-group-sm
                input(type="text" class="form-control" id="wms_txt")
                span(class="input-group-btn")
                    button(class="btn btn-primary btn" type="button" id="wms_btn")
                        span(class="glyphicon glyphicon-search"  aria-hidden="true")="Add"


//- http://wms.pcn.minambiente.it/ogc?map=/ms_ogc/WMS_v1.3/Vettoriali/PAI_pericolosita.map
