

// Jquery
//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")  
script(src="libs/jquery/jquery-2.2.1.min.js")  

// Angularjs    
//- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")  


// Jquery UI
//- script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js") 
script(src="libs/jquery-ui-1.11.4/jquery-ui.min.js") 

// Bootstrap (must be before Jquery UI)
script(src="libs/bootstrap4/tether.min.js")        
//- script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js") 
script(src="libs/bootstrap4/bootstrap.min.js") 


// leaflet


// leaflet plugins

        
        
                
// Custom Scripts
script(src="custom/parseXML.js")    
script(src="custom/jquery.js")    
script(src="custom/leaflet.js")   
