//- Polimi
- var title = "Land Use and Land Cover Maps of Europe"
- var logo = "img/logo/logo-polimi-mini.svg"

- var ADM = {NUTS0: 'Country Boundaries'}
- var LULC = {GLC_00: 'Global Land Cover (2000)', Corine_06: 'Corine (2006)', Atlas_06: 'Urban Atlas (2006)', GlobCover_09: 'GlobCover (2009)', MODIS_10: 'MODIS (2010)', CCIESA_10: 'Land Cover CCI (2010)', GLand30_10: 'Global Land Cover 30m (2010)'}
- var custom = {custom_WMS: 'WMS'}

- var GLC_00 = {'Dataset': 'GLC-2000', 'Institution': 'EC-JRC', 'Temporal coverage': '2000', 'Spatial Coverage': 'Global', 'Sensor': 'SPOT 4', 'Input Data': '4 Spectral Bands. Monthly to 3 monthly NDVI composites', 'Spatial Resolution': '1 km', 'Native Coordinate System': 'Geographic coordinates - Datum WGS84', 'Classification Technique': 'Generally unsupervised classification', 'Classification Scheme': 'FAO LCCS (23 classes)', 'Validation': 'Statistical sampling', 'Accuracy': 'Overall accuracy of 68 %. The accuracy of the European sub product was not yet performed', 'Use policy': 'Free of charge for non-commercial use' }

- var Corine_06 = {'Dataset': 'Corine', 'Institution': 'EEA', 'Temporal coverage': '1990, 2000, 2006 and 2012', 'Spatial Coverage': 'Europe', 'Sensor': 'Landsat-5 MSS/TM (1990), Landsat-7 ETM (2000), SPOT-4/5 and IRS P6 LISS III (2006) and IRS P6 LISS III and RapidEye (2012)', 'Input Data': 'False-colour images + Ancillary documents', 'Spatial Resolution': '250 and 100 m', 'Native Coordinate System': 'ETRS89 /  ETRS-LAEA (EPSG:3035)', 'Classification Technique': 'Computer-aided interpretation methodology', 'Classification Scheme': '1st level: 5 classes; 2nd level: 15 classes; 3th level: 44 classes', 'Validation': 'Statistical sampling', 'Accuracy': 'CLC 2000: Average accuracy of 74.8 %; CLC 2006: Not checked; Land Cover Change 2000-2006: overall accuracy of 87.82%', 'Use policy': 'Re-use of content on the EEA website for commercial or non-commercial purposes is permitted free of charge, provided that the source is acknowledged' }

- var Atlas_06 = {'Dataset': 'European Urban Atlas', 'Institution': 'European Commission Directorate-General for Regional Policy and the Directorate-General for Enterprise and Industry with the support of the European Space Agency and the European Environment Agency', 'Temporal coverage': '2005-2007', 'Spatial Coverage': 'Europe', 'Sensor': 'Earth Observation (EO) data with 2.5 m spatial resolution multispectral or pan-sharpened (multispectral merged with panchromatic) data', 'Input Data': 'Earth Observation (EO) data<br>Topographic Maps at a scale of 1: 50 000 or larger<br>COTS navigation data for the road network', 'Ancillary data': 'COTS navigation data: points of interest, land use, land cover, water areas<br>Google Earth (only for interpretation, not for delineation)<br>Local city maps<br>Local zoning data<br>Field check (on-site visit)<br>Very high resolution imagery (better than 1 m ground resolution, e.g. aerial photographs)', 'Native Coordinate System': 'ETRS89 /  ETRS-LAEA (EPSG:3035)',  'Classification Scheme': 'Thematic classes based on CORINE LC nomenclature and GUS Legend', 'Thematic accuracy (in %)': 'Minimum overall accuracy for level 1 class 1 “Artificial surfaces”: 85%<br>Minimum overall accuracy (all classes): 80%', 'Positional Accuracy': '+ / - 5 m', 'Use policy': 'Unless otherwise indicated, re-use of content on the EEA website for commercial or non-commercial purposes is permitted free of charge, provided that the source is acknowledged' }

- var GlobCover_09 = {'Dataset': 'GlobCover', 'Institution': 'ESA', 'Temporal coverage': '2004-2006 and 2009', 'Spatial Coverage': 'Global', 'Sensor': 'ENVISAT', 'Input Data': '13 Spectral Bands. Bi-monthly from 10 day composites', 'Spatial Resolution': '300 m', 'Native Coordinate System': 'Plate-Carrée with a Geographic Lat/Lon representation', 'Classification Technique': 'Flexible classification using local/regional expertise', 'Classification Scheme': 'FAO LCCS (23 classes)', 'Validation': 'Statistical sampling / Expert’s judgement', 'Accuracy': 'Kappa coefficient of 0.656', 'Use policy': 'Free access for educational and/or scientific purposes' }

- var MODIS_10 = {'Dataset': 'MODIS', 'Institution': 'USGS', 'Temporal coverage': '2001-2012', 'Spatial Coverage': 'Global', 'Sensor': 'Terra MODIS', 'Input Data': '7 Spectral Bands', 'Spatial Resolution': '500 m', 'Native Coordinate System': 'Sinusoidal', 'Classification Technique': 'Supervised decision-tree classifier, neural networks', 'Classification Scheme': 'MODIS land IGBP (20 classes)', 'Validation': 'Statistical sampling / Confusion matrices, confidence values', 'Accuracy': 'Overall accuracy of 74.80 %', 'Use policy': 'No restrictions on subsequent use, sale, or redistribution' }

- var CCIESA_10 = {'Dataset': 'LC-CCI', 'Institution': 'ESA / UCL-Geomatics', 'Temporal coverage': '5-year epochs centered on 2000, 2005 and 2010', 'Spatial Coverage': 'Global', 'Sensor': 'AVHRR, SPOT-VGT, MERIS FR and RR', 'Input Data': '13 of 15 MERIS spectral channels. 7-day compositing period', 'Spatial Resolution': '300 m', 'Native Coordinate System': 'Plate-Carrée with a Geographic Lat/Lon representation', 'Classification Technique': 'Unsupervised classification chain + machine learning classification', 'Classification Scheme': 'UN LCCS (22 classes)', 'Validation': 'Statistical sampling / Expert’s judgement', 'Accuracy': 'Overall accuracy between 73.2 % and 74.1 %', 'Use policy': 'Free access for educational and/or scientific purposes' }

- var GLand30_10 = {'Dataset': 'GlobeLand30', 'Institution': 'NGCC', 'Temporal coverage': '12000 and 2010', 'Spatial Coverage': 'Global', 'Sensor': 'Landsat (TM, ETM+), HJ-1', 'Input Data': 'Multispectral images + Ancillary documents', 'Spatial Resolution': '30 m', 'Native Coordinate System': 'UTM WGS84 (multiple zones)', 'Classification Technique': 'Pixel-object-knowledge (POK) based classification approach', 'Classification Scheme': '10 land cover types', 'Validation': 'Third-party experts with a two-rank sampling strategy. Confusion Matrix and Derived Indexes for Italy region', 'Accuracy': 'Overall accuracy of 80.33 % and Kappa coefficient of  0.75 (2010). In Italy, the overall accuracy vary between  81% and 92% (compared to 5 Corine LC classes) and between  62% and 81% (compared to Corine LC subclasses)', 'Use policy': 'Information not available' }

//- JRC
//- - var title = "Geospatial Information for Biomass Resources in the European Union"
//- - var logo = "img/logo/JRC/jrc.svg"




//- - var NUTS0 = 'Country Boundaries'
//- - var GLC_00 = 'Global Land Cover (2000)'
//- - var Corine_06 = 'Corine (2006)'
//- - var Atlas_06 = 'Urban Atlas (2006)'
//- - var GlobCover_09 = 'GlobCover (2009)'
//- - var MODIS_10 = 'MODIS (2010)'
//- - var CCIESA_10 = 'Land Cover CCI (2010)'
//- - var GLand30_10 = 'Global Land Cover 30m (2010)'
//- - var custom_WMS = 'Custom Layer'
//- 
//- - var ADM = ['NUTS0']
//- - var LULC = ['GLC_00', 'Corine_06', 'Atlas_06', 'GlobCover_09', 'MODIS_10', 'CCIESA_10', 'GLand30_10']
//- - var custom = ['custom_WMS']
