

.wms_custom
    clear: both
    display:inline
    float: left

    .wms_candidates
        display:inline
        margin-bottom: 0
        float: none
        position: relative
        // background: pink
        padding-bot: 0

        input
            padding-top: 50px
            vertical-align: middle
            display: block
            left: 0px
            position: absolute

        label
            display: block
            text-align: left
            margin-left: 20px
            width: 220px
            // background: pink

            span
                vertical-align: middle
                font-size: 1.2em




        .wms_delete
            display: block
            left: 245px
            position: absolute
            vertical-align: middle
            padding-top: 10px

.modal-photo
    width: 450px

    .modal-body
        height: 200px

        .photoWeb
            padding-left: 14px
            padding-top: 20px

            .btn-group-vertical
                display: inline


                i
                    position: absolute
                    text-align: left
                    left: 3px
                    vertical-align: middle
                    padding-top: 3px

                label
                    padding-left: 18px
                    width: 120px

                input
                    display: none

    .modal-buttons
        padding: 20px
