

.wms_custom
    clear: both
    display:inline
    float: left

    .wms_candidates
        display:inline
        margin-bottom: 0
        float: none
        position: relative
        // background: pink
        padding-bot: 0


        li
            width: 260px
            padding: 5px 0

        label
            span
                font-size: 1.5em
                vertical-align: middle
                padding-left: 10px
                width: 230px

        input
            padding-top: 50px
            vertical-align: middle
            display: block
            left: 0px
            position: relative
            float: left

        // label
            // display: block
            // text-align: left
            // margin-left: 20px
            // width: 220px
            // background: pink

        .wms_delete
            left: 240px
            position: absolute
            vertical-align: middle
            padding-top: 10px

.wmsList
    .wms_candidates
        li
            label
            font-size: 1.8em
            vertical-align: middle
            padding-right: 10px


            input
                vertical-align: middle
                position: relative
                margin: 0
                margin-bottom: 5px
                width: 20px
                height: 10px


.modal-photo
    width: 450px

    .modal-body
        height: 200px

        .photoWeb
            padding-left: 14px
            padding-top: 20px

            .btn-group-vertical
                display: inline


                i
                    position: absolute
                    text-align: left
                    left: 3px
                    vertical-align: middle
                    padding-top: 3px

                label
                    padding-left: 18px
                    width: 120px

                input
                    display: none

    .modal-buttons
        padding: 20px
